.headerCorre__img {
    width: 35%;
    margin-right: 4rem;
}

.headerCorre p {
    width: 45%;
}

.bio {
    background-color: #5f5149;
    /* height:500px; */
    padding: 5rem 0 4rem;
    color:white;
}

.bio__h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 4.5rem;
    font-weight: 600;
    letter-spacing: 2rem;
}

.bio__div {
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
    /* width: 100%; */
}

.bio__img--div {
    display: flex;
    width: 55%;
    height: fit-content;
}

.bio__img {
    width: 50%;
    /* height: 100%; */
    padding: 0 .5rem;
}

.bio__ul {
    width: 50%;
    list-style: initial;
    list-style: circle;
}

.bio__ul li {
    /* background-color: khaki */
    width: fit-content;
    margin: 1rem 0;
    font-size: 1.8rem;
}

.redes-sociais {
    text-align: center;
    margin: 0 auto;
    padding: 5rem 0 6rem;
}

.redes-sociais h2 {
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: 300;
    /* background-color: #c99566; */
    margin: 2rem 0 2.5rem;

}

.redes-sociais img {
    width: 7%;
    margin: 0 1.5rem;
}

.banner {
    display: flex;
    background-color:  #5f5149;
}

.banner img {
    width: 50%;
}

@media (max-width:600px){
    #bannerImg2 {
        display: none;
    }

    #bannerImg1 {
        width: 100%;
    }
    
}


@media (max-width:800px){
    nav {
        position: initial;
    }

    .headerCorre {
        flex-direction: column;
        height: fit-content;
        width: 100%;
        padding-top: 0rem;
    }

    .headerCorre__img {
        width: 100%;
        margin-right: 0rem;
    }
    
    .bio__div {
        flex-direction: column-reverse;
        padding: 0 2rem;
    }
    
    .bio__img--div {
    width: 100%;
    }

    .bio__img {
        height: unset;
    }

    .bio__ul {
        width: fit-content;
        margin: 0 auto 2rem;
    }

    .redes-sociais img {
        width: 10%;
        /* margin: 0 1.5rem; */
    }
}

@media (max-width: 1000px) {

    .headerCorre p {
        width: 80%;
        font-size: 3.4rem;
        line-height: 4.2rem;
        padding: 4rem 0 4rem;
    }

    .bio__h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
        letter-spacing: 1rem;
    }
}
